* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ================================= Product-CSS ================================================= */
.myBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: #005268;
  color: white;
  font-size: large;
  border-radius: 4px;
  padding: 0.4em;
  border: none;
  white-space: nowrap !important;
}

.myBtn:hover {
  background: #006986;
  color: white;
}

.myBtnDisabled,
.myBtnDisabled:hover {
  background-color: white;
  border: 1px solid #005268;
  color: rgb(128, 128, 128);
}

.details {
  margin-top: 3rem !important;
}

.reviews-individuals,
.card-vatrina {
  gap: 15px;
}

@media only screen and (max-width: 769px) {
  .product_details,
  .product_image {
    margin-top: 2rem !important;
    padding-left: 2em !important;
    margin: auto;
  }
}

@media only screen and (max-width: 990px) and (min-width: 768px) {
  .details {
    margin-top: 7rem !important;
  }

  .btn-group.inc-dec {
    width: 100% !important;
  }

  .wrapDiv {
    display: flex;
    flex-direction: column;
  }

  .nomargin {
    margin: 0.7em 0 0.4em -0.4em;
    justify-content: space-between;
  }

  .myBtn.buynow {
    width: 70% !important;
    margin-right: 0.5rem !important;
  }

  .d-flex.flex-column.rec {
    flex-direction: row !important;
    white-space: nowrap !important;
    position: absolute;
    left: 90px;
    width: 40vw;
  }
}

/* ================================= Cart-CSS ================================================= */
.cart_product_details h3,
h4,
h5 {
  font-weight: 600;
}

.cart_product_left h3,
.cart_product_left h4 {
  font-size: 1.3em !important;
}

.cart_product_details p {
  font-size: small;
  font-weight: 400;
  margin: 0;
}

.cart_product_right {
  gap: 2.4rem;
  flex-direction: column !important;
}

.checkout_details {
  width: 38%;
}

.cart_products {
  width: 58%;
  height: fit-content;
}

.order_info {
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

.discount {
  gap: 0.3rem;
  margin-left: -0.3rem;
}

.discount button,
.discount input {
  font-size: small;
  color: rgb(235, 235, 235);
  padding: 0.7rem;
}

.discount button.apply {
  width: 28%;
}

.discount input {
  width: 68%;
}

.hide {
  width: 10% !important;
}

.hide,
.applyBtn {
  display: inline !important;
}

.goToCheck {
  font-size: 1em !important;
}

@media only screen and (max-width: 992px) {
  .checkout_details {
    width: 30%;
  }

  .cart_products {
    width: 70%;
  }

  .discount {
    align-items: center !important;
  }

  .discount button.apply {
    width: 60%;
  }

  .discount input {
    width: 80%;
  }

  .order_details {
    margin-top: 1em !important;
    font-size: -0.1rem;
  }

  .order_info p {
    margin-bottom: 0.2em;
  }

  .goToCheck {
    font-size: 1em !important;
  }
}

@media only screen and (min-width: 600px) {
  .hide,
  .applyBtn {
    display: none;
  }

  .goToCheck {
    margin-top: 0.3em !important;
    font-size: 0.8em !important;
  }
}

@media only screen and (min-width: 992px) {
  .goToCheck,
  .discount button.apply {
    font-size: 1em !important;
  }
}

@media only screen and (max-width: 600px) {
  .cart_product_image {
    width: 100% !important;
  }

  .cart_product_left {
    flex-direction: column !important;
  }

  .single_product {
    flex-direction: column !important;
  }

  .cart_product_left h4 {
    font-size: 1em !important;
    margin-bottom: 0.3em !important;
    margin-top: 0.3em !important;
  }

  .cart_product_left h3 {
    font-size: 1em !important;
    margin-top: 0.3em !important;
  }

  .checkout_details {
    width: 90%;
    margin-top: 1rem;
  }

  .cart_products {
    width: 90%;
  }

  .cart_product_right {
    flex-direction: row-reverse !important;
    width: 100%;
  }

  .cart_product_left {
    width: 100%;
  }

  .hide,
  .applyBtn {
    display: inline;
  }

  .discount {
    flex-direction: row !important;
  }

  .discount button.apply {
    width: 28%;
  }

  .discount input {
    width: 68%;
  }
}

/* ================================= Wish-CSS ================================================= */
.wish_product_right * {
  gap: 0.5em;
  font-size: 1rem;
}

.wish_product_right > div {
  flex-grow: 1;
}

@media only screen and (max-width: 767px) {
  .wish_product_right {
    font-size: 1.2rem;
    margin-top: 0.7rem;
    flex-direction: row !important;
    justify-content: space-around;
  }

  .wish_product_right > div {
    flex-grow: unset !important;
  }
}

@media only screen and (max-width: 600px) {
  .wish_product_right {
    flex-direction: column !important;
  }

  .wish_product_right > div {
    flex-grow: 1;
    margin: 0.2em;
  }

  .wish_product_right button,
  .wish_product_right span,
  .wish_product_right i {
    font-size: 1em;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-bottom: 50px;
}
