* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logoImage {
  cursor: pointer;
}
.mainPass {
  height: 65vh !important;
}
.mainDivShadow {
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
}
.confirmPassword {
  background-color: teal !important;
}

