* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logoImage {
  cursor: pointer;
}
.mainRecovery {
  height: 60vh !important;
}
.recoveryCode {
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
}
.sendCodeBtn {
  background-color: teal !important;
}
.requestNewCode:hover {
  background-color: #56C6A9;
  color:white

}
